@import "../../../styles/variables.scss";

.thead {
  background: $light-blue;

  .tableHeaderRow {
  
    th {
      border: $border-general;
      border-top: none;
    }
  
    .taskList {
      min-width: 300px;
      text-align: start;
      padding-left: 20px;
      @include medium
    }

    .headcol {

      .headcol__block {
        align-items: center;
      }
    }
  }
  td {
    text-align: center;
  }
  .weeks-th {
    @include small;
  }
  .days-th {
    min-width: 24px;
    width: 100%;
    height: 24px;
    border: $border-general;
    @include small;
  }
}
