@import "../../../styles/variables.scss";

.tbody {
  background: $white;
  @include medium;

  .displayNone {
    display: none;
  }

  tr{ 
    height: 40px;

    th {
      border: $border-general;
    }
    td {
      border-right: $border-general;
    }
  }
  
  .headcol {
    position: -webkit-sticky;
    position: sticky;
    padding: 10px 0;
    padding-left: 10px;
    border: $border-general;
    border-left: none;

    .headcol__block {
      display: flex;
      align-items: center;

      div:not(:last-child) {
        margin-right: 7px;
      }
      .headcol__child-count {
        color: #8B8C9E;
        @include super-small;
      }
      .headcol__arrow-icon {
        cursor: pointer;
      }
      .headcol__arrow-icon__active svg {
        transform: rotate(180deg)
      }
    }
  }
  .progress-td {
    position: relative;

    .progress-block {
      position: absolute;
      left: 0;
      top: 20%;
      display: flex;
      @include medium;

      .progress-line {
        width: 20px;
        height: 24px;
        margin: 0;
        margin-right: 8px;
        background: $white;
        border-radius: 4px;
        box-sizing: border-box;

      }
      .progress-title {
        display: flex;
        align-items: center;
        width: fit-content;
        white-space: nowrap;
      }
    }
  }
}